<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @responsavel.nome %>
</p>

<p>
  <strong>Data de nascimento:</strong>
  <%= @responsavel.data_de_nascimento %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @responsavel.sexo %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @responsavel.cpf %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @responsavel.cep %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @responsavel.endereco %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @responsavel.complemento %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @responsavel.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @responsavel.cidade %>
</p>

<p>
  <strong>Uf:</strong>
  <%= @responsavel.uf %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @responsavel.telefone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @responsavel.email %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @responsavel.foto %>
</p>

<%= link_to 'Edit', edit_responsavel_path(@responsavel) %> |
<%= link_to 'Back', responsaveis_path %>
